MAIL_HOST = smtp.gmail.com # your mail host
MAIL_USER = # your email
MAIL_PASS = # your mail host key
CORS_ORIGIN = ["http://localhost:3000"]



JWT_SECRET = "create a JWT secret"
FOLDER_NAME = "images"  # cloudinary folder name where you want to save images
FOLDER_VIDEO = "videos" # cloudinary folder name where you want to save videos



RAZORPAY_KEY = # your razorpay key get from razorpay website Mandatory to run server
RAZORPAY_SECRET = # your razorpay secret 


CLOUD_NAME = # your cloudinary name
API_KEY = # your cloudinary api key
API_SECRET = # your cloudinary api secret

CONTACT_MAIL = sangwanhimanshu8443@gmail.com    # Enter your mail, User enquiries will be sent to this mail



PORT = "4000" # server port number
MONGODB_URL = # your mongodb url